<a href="https://colab.research.google.com/github/stazam/M7DataSp---Advanced-data-science-techniques/blob/main/HocekyBetting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import files
uploaded = files.upload()

Saving hockey_datas.csv to hockey_datas.csv

In [17]:
df = pd.read_csv("hockey_datas.csv")

In [4]:
df.shape

(1396, 23)

In [5]:
df.head()

   Unnamed: 0     id  game_number  ... weakening_away faceoff_home faceoff_away
0           0  83430            1  ...         0.6667          0.0          0.0
1           1  83431            2  ...         0.5000          0.0          0.0
2           2  83432            3  ...         1.0000          0.0          0.0
3           3  83433            4  ...         0.8000          0.0          0.0
4           4  83434            5  ...         1.0000          0.0          0.0

[5 rows x 23 columns]

1. pridat stplpec result - HOTOVO
2. zmeit stlpec date na datetime premennu
3. upravit vsetky hodnoty v stlpcoch
4. pridat sltpce s  premennymi ktore mal ten typek
6. pozot na chybajuce pozorovania pri faceoff, places a skontorlovat aj dalsie a upravit a nahradit medianom alebo takym niecim
7. zistit unikatne hodnoty a podla toho to upravit

conceded = pocet inkasovanych golov

H2H v specifickej sezone a sucasne aj za celkove predchadzajuce obdobie

vitazstva celkovo za vsetky sezony, vitazstva celkovo za danu sezonu proti danemu superovi

In [18]:
def name_parser(x):

  x = x.lower()
  clubs = ['Poprad', 'Trenčín', 'Skalica', 'Košice', 'BANSKÁ BYSTRICA', 'Zvolen', 'Piešťany', 'Martin', 'Nitra', 'Žilina', 
           'Liptovský Mikuláš', 'Nové Zámky', 'Detva', 'Újbuda', 'Miskolc', 'Michalovce', 'Bratislava']

  clubs = [x.lower() for x in clubs]
  for club in clubs:
    if club in x:
      return club
  
  return 

df['home'] = df['home'].apply(name_parser)
df['away'] = df['away'].apply(name_parser)

In [19]:
#mozno by som este mohol pridat to, ze ked nie je domaci tym na domacom lade, tak ako sa to premietne do vysledku -- ale to sa stava v minime pripadov
import datetime

df['date'] = pd.to_datetime(df['date'])

In [21]:
df.loc[df['score_home'] > df['score_away'], 'result'] = 'home'
df.loc[df['score_home'] < df['score_away'], 'result'] = 'away'
df.loc[df['win_periods_home'] + df['draw_periods'] + df['win_periods_away'] >= 4, 'result'] = 'draw'

In [22]:
def season(x):

  if x >= 83430 and x <= 83699:
    return "2015/2016"
  elif x >= 87717 and x <= 87986:
    return "2016/2017"
  elif x >= 96815 and x <= 97084:
    return "2017/2018"
  elif x >= 101458 and x <= 101787:
    return "2018/2019"
  else:
    return "2019/2020"

df['season'] = df['id'].apply(season)

In [23]:
df

      Unnamed: 0      id  game_number  ... faceoff_away result     season
0              0   83430            1  ...       0.0000   home  2015/2016
1              1   83431            2  ...       0.0000   home  2015/2016
2              2   83432            3  ...       0.0000   away  2015/2016
3              3   83433            4  ...       0.0000   draw  2015/2016
4              4   83434            5  ...       0.0000   home  2015/2016
...          ...     ...          ...  ...          ...    ...        ...
1391        1391  110103          358  ...       0.4426   away  2019/2020
1392        1392  110105          360  ...       0.4464   home  2019/2020
1393        1393  110106          361  ...       0.0000   draw  2019/2020
1394        1394  110107          362  ...       0.4107   home  2019/2020
1395        1395  110108          363  ...       0.0000   draw  2019/2020

[1396 rows x 25 columns]

In [24]:
df_home = df.copy()  
df_away = df.copy()

In [25]:
df_home.columns = df_home.columns.str.replace("home", "team")
df_home.columns = df_home.columns.str.replace("away", "opponent")
df_home = df_home.replace('home', 'win')
df_home = df_home.replace('away', 'lost')
df_home['h_a'] = 'home'

In [26]:
df_home

      Unnamed: 0      id  game_number  ... result     season   h_a
0              0   83430            1  ...    win  2015/2016  home
1              1   83431            2  ...    win  2015/2016  home
2              2   83432            3  ...   lost  2015/2016  home
3              3   83433            4  ...   draw  2015/2016  home
4              4   83434            5  ...    win  2015/2016  home
...          ...     ...          ...  ...    ...        ...   ...
1391        1391  110103          358  ...   lost  2019/2020  home
1392        1392  110105          360  ...    win  2019/2020  home
1393        1393  110106          361  ...   draw  2019/2020  home
1394        1394  110107          362  ...    win  2019/2020  home
1395        1395  110108          363  ...   draw  2019/2020  home

[1396 rows x 26 columns]

In [27]:
df_away.columns = df_away.columns.str.replace("away", "team")
df_away.columns = df_away.columns.str.replace("home", "opponent")
df_away = df_away.replace('away', 'win')
df_away = df_away.replace('home', 'lost')
df_away['h_a'] = 'away'

In [30]:
df_home.dtypes

Unnamed: 0                       int64
id                               int64
game_number                      int64
date                    datetime64[ns]
team                            object
opponent                        object
place                           object
viewers                          int64
win_periods_team                 int64
draw_periods                     int64
win_periods_opponent             int64
score_team                       int64
score_opponent                   int64
shots_team                     float64
shots_opponent                 float64
saves_team                     float64
saves_opponent                 float64
powerplay_team                 float64
powerplay_opponent             float64
weakening_team                 float64
weakening_opponent             float64
faceoff_team                   float64
faceoff_opponent               float64
result                          object
season                          object
h_a                             object
dtype: object

In [31]:
df_teams = pd.concat([df_home, df_away]).reset_index(drop=True)

In [33]:
 df_teams = df_teams.sort_values(['team', 'date']).reset_index(drop=True)

In [35]:
df_teams['win'] = 0
df_teams.loc[df_teams['result'] == 'win', 'win'] = 1
df_teams['draw'] = 0
df_teams.loc[df_teams['result'] == 'draw', 'draw'] = 1
df_teams['lost'] = 0
df_teams.loc[df_teams['result'] == 'lost', 'lost'] = 1

In [37]:
df_teams['win_R5'] = df_teams.groupby(['team', 'season'])['win'].rolling(5, min_periods=1).mean().values
df_teams['win_R5'] =df_teams.groupby(['team', 'season'])['win_R5'].shift(fill_value=0)

In [40]:
df_teams

      Unnamed: 0      id  game_number       date  ... win draw lost  win_R5
0             84   83515           86 2015-01-11  ...   0    1    0     0.0
1             39   83469           40 2015-02-10  ...   0    0    1     0.0
2             40   83470           41 2015-04-10  ...   0    1    0     0.0
3            129   83560          131 2015-04-12  ...   0    0    1     0.0
4            138   83569          140 2015-06-12  ...   0    0    1     0.0
...          ...     ...          ...        ...  ...  ..  ...  ...     ...
2787         991  101693          236 2019-03-02  ...   0    0    1     0.4
2788         980  101682          225 2019-04-01  ...   0    0    1     0.2
2789         922  101624          167 2019-06-01  ...   0    0    1     0.2
2790        1046  101748          291 2019-08-01  ...   0    1    0     0.0
2791        1001  101703          246 2019-11-01  ...   0    0    1     0.0

[2792 rows x 30 columns]

In [13]:
df.loc[ (df['home'] == 'poprad') & (df['away'] == 'zvolen'),:]

      Unnamed: 0      id  game_number  ... faceoff_away result     season
0              0   83430            1  ...       0.0000   home  2015/2016
89            89   83520           91  ...       0.0000   away  2015/2016
179          179   83610          181  ...       0.0000   draw  2015/2016
292          292   87749           33  ...       0.0000   away  2016/2017
343          343   87839          123  ...       0.0000   home  2016/2017
431          431   87929          213  ...       0.0000   away  2016/2017
555          555   96883           69  ...       0.4930   away  2017/2018
645          645   96973          159  ...       0.4000   draw  2017/2018
735          735   97063          249  ...       0.4783   away  2017/2018
788          788  101490           33  ...       0.4531   draw  2018/2019
920          920  101622          165  ...       0.3548   draw  2018/2019
1052        1052  101754          297  ...       0.0000   home  2018/2019
1172        1172  109848          103  ...       0.3137   away  2019/2020
1328        1328  110030          285  ...       0.5636   home  2019/2020

[14 rows x 25 columns]

In [ ]:
df['home'] == 'HK Poprad, s.r.o.' and df['away'] == 'HKM a.s. Zvolen'

ValueError: ignored

0

In [ ]:
l = [[1, 2, 3,4], [1, None, 4,5], [2, 1, 3,5], [1, 2, 2,5], [1, 2, 2,5], [1, 2, 2,5]]
df = pd.DataFrame(l, columns=["a", "b", "c","d"])
df

   a    b  c  d
0  1  2.0  3  4
1  1  NaN  4  5
2  2  1.0  3  5
3  1  2.0  2  5
4  1  2.0  2  5
5  1  2.0  2  5

In [ ]:
df.groupby(['a']).shift(fill_value=0)

   a    b  c  d
0  0  0.0  0  0
1  1  2.0  3  4
2  0  0.0  0  0
3  1  NaN  4  5
4  1  2.0  2  5
5  1  2.0  2  5

In [ ]:
df['skuska'] = df.groupby(["a"])['c'].rolling(5, min_periods=1).mean().values
df

   a    b  c  d  skuska
0  1  2.0  3  4    3.00
1  1  NaN  4  5    3.50
2  2  1.0  3  5    3.00
3  1  2.0  2  5    2.75
4  1  2.0  2  5    2.60
5  1  2.0  2  5    3.00

In [ ]:
df['skuska'] = df.groupby(["a"])['skuska'].shift(fill_value=0)
df

   a    b  c  d  skuska
0  1  2.0  3  4    0.00
1  1  NaN  4  5    3.00
2  2  1.0  3  5    0.00
3  1  2.0  2  5    3.50
4  1  2.0  2  5    2.75
5  1  2.0  2  5    2.60

In [ ]:
df['skuska'] = df.groupby(["a"])['skuska'].shift(fill_value=0)
df

KeyError: ignored