<a href="https://colab.research.google.com/github/stazam/M7DataSp---Advanced-data-science-techniques/blob/main/tweet_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

from keras.utils import np_utils
from sklearn.model_selection import train_test_split

print(tf.__version__)

2.3.0

Postup:

1. načítať dáta - krátky pohľad na dáta, počet unikátnych userov, tweetov
2. vytvoriť data.frame s ktorým budem daľej pracovať
3. embedding pre users, tweets
4. predikcia - doplnenie tabuľky
5. pokúsiť sa využiť bias na usera a movie - pokúsiť sa zlepšiť hodnotu

In [2]:
from google.colab import files 

uploaded = files.upload()

Saving fake_v1_100x252.csv to fake_v1_100x252.csv

In [10]:
df = pd.read_csv(r'/content/fake_v1_100x252.csv')

In [14]:
df.head(6)

  Unnamed: 0  tweet1  tweet2  tweet3  ...  tweet249  tweet250  tweet251  tweet252
0      user1     4.0     NaN     NaN  ...       NaN       NaN       NaN       5.0
1      user2     NaN     NaN     NaN  ...       3.0       NaN       NaN       NaN
2      user3     NaN     4.0     NaN  ...       NaN       NaN       NaN       NaN
3      user4     4.0     NaN     NaN  ...       NaN       NaN       NaN       NaN
4      user5     NaN     NaN     5.0  ...       NaN       NaN       NaN       NaN
5      user6     NaN     NaN     NaN  ...       NaN       NaN       NaN       4.0

[6 rows x 253 columns]

In [80]:
n_users = df.iloc[:,0].values.shape[0]
n_tweets = df.columns[1:].shape[0]

percentage = df.isna().sum().values.sum() / (n_tweets * n_users)

print("Shape of data matrix is %d - \"number of unique users\" and %d - \"number of unique tweets\"" % (n_users, n_tweets))
print("Percentage of unlabeled tweets in the whole dataset is %.2f%% " %(100*percentage) )

Shape of data matrix is 100 - "number of unique users" and 252 - "number of unique tweets"
Percentage of unlabeled tweets in the whole dataset is 80.16%

In [163]:
df_new = pd.DataFrame().reindex(index = list(range(n_users * n_tweets)), columns = ['user_id','tweet_id','ratings'])
df_new

       user_id  tweet_id  ratings
0          NaN       NaN      NaN
1          NaN       NaN      NaN
2          NaN       NaN      NaN
3          NaN       NaN      NaN
4          NaN       NaN      NaN
...        ...       ...      ...
25195      NaN       NaN      NaN
25196      NaN       NaN      NaN
25197      NaN       NaN      NaN
25198      NaN       NaN      NaN
25199      NaN       NaN      NaN

[25200 rows x 3 columns]

In [164]:
labels = []

for i in range(0,n_users):
  for j in range(1,n_tweets+1):
     
    labels.append(df.iloc[i,j])

In [165]:
user_id = [i for i in range(n_users) for j in range(n_tweets)]
tweet_id = [j for i in range(n_users) for j in range(n_tweets)]


df_new['user_id'] = user_id
df_new['tweet_id'] = tweet_id
df_new['ratings'] = labels

In [166]:
df_new.head()

   user_id  tweet_id  ratings
0        0         0      4.0
1        0         1      NaN
2        0         2      NaN
3        0         3      NaN
4        0         4      NaN